<mat-table #table [dataSource]="tags">

  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="unit">
    <mat-header-cell *matHeaderCellDef> Unit </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.unit}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="features">
    <mat-header-cell *matHeaderCellDef> Features </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span *ngFor="let feature of element.features">{{feature}}</span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
