<mat-form-field class="full-width">
  <input matInput placeholder="Search" #tagFilter name="search">
  <mat-icon matSuffix matTooltip="Clear search">search</mat-icon>
</mat-form-field>

<p-dataTable
  [value]="tags"
  [sortMode]="multiple"
  [globalFilter]="tagFilter">
  <p-column field="label" header="Name" [sortable]="true"></p-column>
  <p-column field="unit" header="Unit" [sortable]="true"></p-column>
  <p-column field="features" header="Features" [sortable]="true">
    <ng-template let-col let-tag="rowData" pTemplate="body">
        <span *ngFor="let feature of tag.features">{{feature}} </span>
    </ng-template>
  </p-column>
</p-dataTable>
